@using Domain.Models
@model Project

<div class="card-box">
    <div class="inside-box">
         <div class="grid-logo"> 
            <img src="/Images/ProjectIcon1.svg" />
         </div>
         <div class="grid-h6">
            <h6>@Model.ProjectName</h6>
            <p class="client-text">@Model.ClientName, Inc.</p>
         </div>
         @if (User.IsInRole("User"))
        {
            <div class="grid-meatballs project-meatballs">
                <div class="meatball-box">
                    <div class="meatballs"></div>
                    <div class="meatballs"></div>
                </div>
                <div class="project-meatballs-dropdown-content">
                    <div>
                        <button type="button" data-modal="true" data-target="#edit-overlay" class="meatball-btn" data-url="@Url.Action("UpdateProject", "Projects", new { id = Model.Id })">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <p>Edit</p>
                        </button>
                    </div>
                    <div>
                        <form asp-action="UpdateProject" asp-controller="Projects" method="post">
                            <button class="meatball-btn">
                                <i class="fa-regular fa-circle-user"></i>
                                <p>Add Member</p>
                            </button>
                        </form>
                    </div>
                    <div class="meatball-grayline"></div>
                    <div>
                        <form asp-action="DeleteProject" asp-controller="Projects" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="meatball-btn-delete meatball-btn" onclick="return confirm('Are you sure?');">
                                <i class="fa-solid fa-trash"></i>
                                <p>Delete Project</p>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
         }
         else
         {

         }
         <div class="grid-headtext">
            <p>@Model.Description</p>
         </div>
         <div class="grid-time">
            <div class="time-left  @(Model.DaysLeft < 5 ? "red" : "orange")">
                <i style="opacity: 0.4;" class="fa-solid fa-clock"></i>
                <p>@Model.DaysLeft days left</p>
         </div>
        </div>
         <div class="grid-portrait">
          @foreach (var member in Model.TeamMembers)
          {
                <span>@member</span>
          }
         </div>
    </div>
</div>




